*.o
*.so
*.swp
/aclocal.m4
/bin/benchmark
/bin/papi_analysis
/configure
/config.log
/config.status
/autom4te.cache
/include/tintl/tintl_config.h
/Makefile
/tags
/doc/html
/lib/spiral_table_packed.c
/lib/spiral_table_split.c
/lib/spiral-generated
